@use "../../assets/styles/abstracts/colors";
@use "../../assets/styles/utils/utils" as *;
@use "../../assets/styles/abstracts/breakpoints";

.type-filter-dropdown {
  &__button {
    padding: toRem(4px) toRem(16px);
    border: toRem(1px) solid colors.$border-gray;
    background-color: colors.$white;
    cursor: pointer;
    border-radius: toRem(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    color: colors.$medium-gray;
    font-size: toRem(16px);
    box-sizing: border-box;
    height: toRem(40px);

    &--open {
      border-color: colors.$turquoise;
      color: colors.$turquoise;
    }

    &:focus {
      outline: none;
      border-color: colors.$turquoise;
    }

    &__arrow {
      border-width: 0 toRem(2px);
      display: inline-block;
      padding: toRem(3px);
      margin-left: toRem(10px);
      width: toRem(14px);
      height: toRem(14px);

      &--down {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }
    }
  }
}
