@use '../utils/utils' as *;

$breakpoints: (
  lg: 768px,
  xl: 1024px,
);

@mixin mobile {
  @media (max-width: #{toRem(map-get($breakpoints, 'lg') - 1px)}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{toRem(map-get($breakpoints, 'lg'))}) and (max-width: #{toRem(map-get($breakpoints, 'xl') - 1px)}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{toRem(map-get($breakpoints, 'xl'))}) {
    @content;
  }
}
