$black: #333333;
$border-gray: #cccccc;
$dark-gray: #00000080;
$dark-text: #000000;
$dark: #323232;
$gray: #e8e8e8;
$medium-gray: #a6a6a6;
$orange: #f47253;
$red: #d83610;
$white: #ffffff;

// new_colors.scss
$deep-blue: #264653;
$turquoise: #2A9D8F;
$mustard-yellow: #E9C46A;
$terracotta-red: #E76F51;
$light-gray: #E0E0E0;
$cream-white: #F4A261;
$dark-green: #264653;